<div style="width:25%;margin: 2px auto;">
  <div class="row mb-0 pad-0">
    <h1 class="form-header"> SSO - Test only</h1>
  </div>
  <div class="pb-15 cursor-pointer">

    <a routerLink="/sso/heathequity" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="Find a Doctor">
      <i class="fa fa-search override-fa-icon"></i>
      <p>Health Equity SSO</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/sso/connecture" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Plans">
      <i class="fa fa-shield-alt override-fa-icon"></i>
      <p>BQi SSO</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/sso/cerner" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Claims">
      <i class="fa fa-file-alt override-fa-icon"></i>
      <p>Cerner Wellness SSO</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/sso/alegeus" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Doctors">
      <i class="fa fa-user-md override-fa-icon"></i>
      <p>My Financials</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/fad" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>Find a Doctor SSO</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <hr>
    <a routerLink="/pages/campaign1" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>Campaign 1</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/pages/campaign2" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>Campaign 2</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/pages/campaign3" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>Campaign 3</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/pages/campaign4" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>Campaign 4</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/pages/campaign5" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>Campaign 5</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a routerLink="/pages/campaign6" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>Campaign 6</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
  </div>
</div>
