<div style="">
  <div class="row mb-0 pad-0">
    <h1 class="form-header">{{displayMessage}}</h1>
  </div>
  <div class="pb-15 cursor-pointer">

    <a (click)="savePageUrl('/fad')" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="Find a Doctor">
      <i class="fa fa-search override-fa-icon"></i>
      <p>Find a Doctor & Estimate Costs</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a (click)="savePageUrl('/myplans')" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Plans">
      <i class="fa fa-shield-alt override-fa-icon"></i>
      <p>Look up your plan information</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a (click)="savePageUrl('/myclaims')" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Claims">
      <i class="fa fa-file-alt override-fa-icon"></i>
      <p>View the status of your claims</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a (click)="savePageUrl('/mydoctors')"  class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Doctors">
      <i class="fa fa-user-md override-fa-icon"></i>
      <p>Access doctor info & visit history</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a (click)="savePageUrl('/mymedications')" class="login-action br-trl-B2  margin_success valign-wrapper" aria-label="My Medications">
      <i class="fa fa-pills override-fa-icon"></i>
      <p>See your medication history</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
    <a (click)="savePageUrl('/mycards')" class="login-action br-grey  margin_success valign-wrapper" aria-label="My Cards">
      <i class="fa fa-id-card override-fa-icon"></i>
      <p>Get instant access to your ID card</p>
      <span>
        <img src="assets/images/icons/ChevronLeft.svg" />
      </span>
    </a>
  </div>
</div>
