<div>
    <h1 class="form-header">Learn More</h1>
    <div class="font-16-grey">
      <p class="mb-10">
        If you select Yes to email and text, you consent to receive messages (including emails) through an unencrypted method of communication, which means that such information can be at risk of being accessed by third parties during transmission or storage, as the internet is not a secured method of communication.  By selecting Yes to text, you consent to receiving autodialed, prerecorded calls and texts to your mobile device.
      </p>
      <p class="mb-10">
        The information included in emails and texts may include health information and information related to the management of your health.
      </p>
      <p class="mb-10">
        Your carrier’s message and data rates apply.  Message frequency varies and is based on your account settings and plan usage.
      </p>
    </div>
</div>