<div class=" mypref-delivery-df-mat">

    <div class="row mr-0 ml-0 bottom-border-nullifier">
        <h1 class="mb-10 col s12 m12 l12 padding-adjustment">Financial Delivery Preferences</h1>
        <div class="col s12 m12 l6 padding-adjustment">
            <mat-card>
                <mat-card-content>
                    <div class="enforce-flex">
                        <div class="row center-box-width enforce-flex-column">
                            <div class="col s12 box-header-text">
                                Tax Forms
                            </div>
                            <div class="col s12 box-description-text ">
                                1099-SA and 5498-SA
                            </div>
                        </div>
                        <div class="row center-box-width enforce-flex-column">
                            <div class="col s12 box-header-text">
                                <mat-list>
                                    <mat-radio-group name="TaxForm">
                                        <mat-list-item>
                                            <mat-radio-button disableRipple labelPosition="before" checked="true" name="paper" value="true">Paper
                                            </mat-radio-button>
                                            <mat-radio-button disableRipple labelPosition="before" checked="false" name="electronic" value="false">Electronic
                                            </mat-radio-button>
                                        </mat-list-item>
                                    </mat-radio-group>
                                </mat-list>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col s12 m12 l6">
            <mat-card>
                <mat-card-content>
                    <div class="enforce-flex">
                        <div class="row center-box-width enforce-flex-column">
                            <div class="col s12 box-header-text">
                                HSA Statements
                            </div>
                            <div class="col s12 box-description-text ">
                                Account holder receiving paper statements will incur additional account fees.
                            </div>
                        </div>
                        <div class="row col s12 iconColor enforce-flex-column">
                            <div class="col s12 box-header-text">
                                <mat-list>
                                    <mat-radio-group name="HSAState">
                                        <mat-list-item>
                                            <mat-radio-button labelPosition="before" checked="true" name="elecpaper" value="true">Electronic <br/>& Paper
                                            </mat-radio-button>
                                            <mat-radio-button labelPosition="before" checked="false" name="electronic" value="false">Electronic <br/> Only
                                            </mat-radio-button>
                                        </mat-list-item>
                                    </mat-radio-group>
                                </mat-list>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col s12 box-footer-text mb-button-30 submit-action-twobutton-center ">
            <button tabindex="4 " class=" waves-effect waves-light btn btn-block right br-8 mr-0 btn-border " (click)="OnSubmit() ">Save</button>
            <button tabindex="5 " class=" waves-effect waves-light btn-white  btn-block right br-8 ml-10 white-background btn-white " (click)="OnCancel() ">Cancel</button>
        </div>
    </div>
</div>