<div class="row m-0">
  <div class="mt-20 hide-on-large-only" style="text-align: left">
    <app-breadcrumbs></app-breadcrumbs>
  </div>
  <h1 class="mb-10 screen-header">Update Your Password</h1>
  <div class="hide-on-med-only hide-on-small-only" style="text-align: left">
    <app-breadcrumbs></app-breadcrumbs>
  </div>
  <form novalidate [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card-content">
      <div class="row mb-10">
        <div class="input-field col s12 password-block pd-0">
          <div [ngClass]="{'error': updatePasswordForm.controls['currentPassword'].errors && !updatePasswordForm.controls['currentPassword'].touched}">
            <input placeholder="" aria-labelledby="currentPassword" id="currentPassword" type="{{typeCurrent}}" formControlName="currentPassword"
              class="fluid-width" maxlength="16" required (keyup)="currentPasswordKeyUp()" />
            <label for="currentPassword" class="active">Current Password*</label>
            <a class="input-group-addon" [ngClass]="(typePlaceholderCurrent | lowercase) + '-class'" (click)="togglecurrentPasswordVisibility()">{{typePlaceholderCurrent}}</a>
            <app-control-messages [control]="updatePasswordForm.controls.currentPassword" [customMessages]="passwordcustomMessages"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="row text-center text-bold  mt-0">
        <!-- merging issue commented ng build prod failed <a (click)="toggleUserType()" class="cursor-pointer mt-10 text-link">{{userTypeChangeLabel}}</a>-->
      </div>
      <div class="row mt-10">
        <div class="input-field col s12 password-block pd-0">
          <div [ngClass]="{'error': updatePasswordForm.controls['newPassword'].errors && !updatePasswordForm.controls['newPassword'].touched}">
            <input placeholder="" aria-labelledby="newPassword" id="newPassword" type="{{typeNew}}" (blur)="showErrorOnBlur()" formControlName="newPassword"
              class="fluid-width" maxlength="16" required/>
            <label for="newPassword" class="active">New Password*</label>
            <a class="input-group-addon" [ngClass]="(typePlaceholderNew | lowercase) + '-class'" (click)="togglenewPasswordVisibility()">{{typePlaceholderNew}}</a>
            <app-control-messages [control]="updatePasswordForm.controls.newPassword" [customMessages]="passwordcustomMessages"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="row mt-10">
        <div class="input-field col s12 password-block pd-0">
          <div [ngClass]="{'error': updatePasswordForm.controls['reEnterNewPassword'].errors && !updatePasswordForm.controls['reEnterNewPassword'].touched}">
            <input placeholder="" aria-labelledby="reEnterNewPassword" id="reEnterNewPassword" type="{{typeReEnterNew}}"
              (blur)="showErrorOnBlur(true)" formControlName="reEnterNewPassword" class="fluid-width" maxlength="16"
              required />
            <label for="reEnterNewPassword" class="active">Re-enter New Password*</label>
            <a class="input-group-addon" [ngClass]="(typePlaceholderReEnterNew | lowercase) + '-class'" (click)="togglenewPasswordVisibility(true)">{{typePlaceholderReEnterNew}}</a>
            <app-password-control-messages [password]="updatePasswordForm.value.newPassword" [isSubmitted]="isFormSubmitted" [isBlurEvent]="showPasswordErrors"
            [control]="updatePasswordForm.controls.newPassword"></app-password-control-messages>
       
            <!-- <app-password-control-messages [password]="updatePasswordForm.value.reEnterNewPassword" [isSubmitted]="isFormSubmitted"
              [isBlurEvent]="showReEnterPasswordErrors" [control]="updatePasswordForm.controls.reEnterNewPassword"></app-password-control-messages> -->
            <app-control-messages [control]="updatePasswordForm.controls.reEnterNewPassword" [customMessages]="passwordcustomMessages"></app-control-messages> 
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="submit-action">
        <button tabindex="0" class="btn waves-effect waves-light mt-mb-5 btn-full-width btn-color br-8" type="submit" name="action"
          aria-label="Continue" [disabled]="!updatePasswordForm.valid">Continue</button>
      </div>
      <p class="font-14-grey left-align mt-10">*Field is required.</p>
    </div>
  </form>
</div>