<div class="row m-0">
  <h1 class="mb-10 screen-header">Update Your Password</h1>

  <form novalidate [formGroup]="migrationPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="card-content">

      <div class="selected-user-name" *ngIf="seletcedUserName">
        <span>Your selected username is:</span>
        <span><input readonly style="height: 18px;border-bottom: 0;color: black;" type="text" [value]="seletcedUserName" /></span>
      </div>


      <div class="row mt-10">
        <div class="input-field col s12 password-block pd-0" [ngClass]="{'error': migrationPasswordForm.controls['newpassword'].errors && !migrationPasswordForm.controls['newpassword'].touched}">
          <input matInput placeholder="" aria-labelledby="newpassword" id="newpassword" type="{{typeNew}}"
            formControlName="newpassword" class="validate fluid-width" (blur)="showErrorOnBlur()" maxlength="16"
            appAutofocus />
          <label for="newpassword" class="active">Password*</label>
          <a class="input-group-addon" [ngClass]="(typePlaceholderNew | lowercase) + '-class'" (click)="togglenewPasswordVisibility()">{{typePlaceholderNew}}</a>
          <app-control-messages [control]="migrationPasswordForm.controls.newpassword" [customMessages]="passwordcustomMessages"></app-control-messages>
        </div>
      </div>

      <div class="row mt-10">
        <div class="input-field col s12 password-block pd-0" [ngClass]="{'error': migrationPasswordForm.controls['reEnterNewPassword'].errors && !migrationPasswordForm.controls['reEnterNewPassword'].touched}">
          <input matInput placeholder="" aria-labelledby="reEnterNewPassword" id="reEnterNewPassword" type="{{typeReEnterNew}}"
            formControlName="reEnterNewPassword" class="validate fluid-width" (blur)="showErrorOnBlur(true)" maxlength="16" />
          <label for="reEnterNewPassword" class="active">Re-enter Password*</label>
          <a class="input-group-addon" [ngClass]="(typePlaceholderReEnterNew | lowercase) + '-class'" (click)="togglenewPasswordVisibility(true)">{{typePlaceholderReEnterNew}}</a>

          <app-password-control-messages [isBlurEvent]="showPasswordErrors" [password]="migrationPasswordForm.value.newpassword"
            [isSubmitted]="isFormSubmitted" [control]="migrationPasswordForm.controls.newpassword"></app-password-control-messages>

          <app-control-messages [control]="migrationPasswordForm.controls.reEnterNewPassword" [customMessages]="passwordcustomMessages"></app-control-messages>


        </div>
      </div>


    </div>
    <div>
      <div class="submit-action">
        <button tabindex="0" class="btn waves-effect waves-light mt-mb-5 btn-full-width btn-color br-8" type="submit"
          name="action" aria-label="Continue" [disabled]="!migrationPasswordForm.valid">Continue</button>
      </div>
      <p class="field-req left-align mt-10">*Field is required.</p>
    </div>
  </form>
</div>