<section class="fad-past-search-query-list" role="let user select from past 10 search queries">
  <div class="row flex-container" role="display last 10 search request history">
    <div class="col l3 s12 mobile-hidden" role="left margin">
    </div>
    <div class="col l6 s12" role="search history list container">
      <div role="page title">
        <h1 alt="STRUCTURAL ELEMENTS: Heading level 1">Past 10 Searches</h1>
      </div>
      <div class="mob-mr-in-px--10 mob-ml-in-px--10" role="search history list">
        <mat-list role="search query list">
          <mat-list-item *ngFor="let searchHistoryItem of searchHistory;let listItr=index" class="search-query-items">
            <article class="ml-10">
              <header class="mb-5">
                {{searchHistoryItem.searchKeyword}}
              </header>
              <div>
                on
                <span>{{searchHistoryItem.date}}</span> near
                <span>{{searchHistoryItem.zipcode}}</span>
              </div>
            </article>
            <aside>
              <a [attr.tabIndex]="listItr+1" (keydown)="onSearchListItemKeyDown($event,searchHistoryItem)" (click)="populateSearchFields(searchHistoryItem)">
                <i class="fa fa-chevron-right"></i>
              </a>
            </aside>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col l3 s12 mobile-hidden" role="right margin">
    </div>
  </div>
</section>