@import '../../../../assets/styles/_colors';
@import '../../../../assets/styles/_spacing';
@import '../../../../assets/styles/_fonts';
@import '../../../../assets/styles/_typography';
.fad-facility-card-component {
    .profile-card {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.01px;
        color: $disabled_text_color;
        @include Roboto(regular);
        box-shadow: none;
        padding: 0px;
        padding-top: 22px;
        padding-left: 15px;
        &.profile-card-separator {
            border-top: 1px solid $doc-list-item-border-color;
            border-bottom: 1px solid $doc-list-item-border-color;
            border-right: 1px solid $doc-list-item-border-color;
            border-left: 1px solid $doc-list-item-border-color;
            border-radius: 0px;
        }
        &.mapItemMode {
            padding-left: 0px;
            margin-left: 0px;
        }
        @media (max-width: 992px) {
            // for mobile/tablet screens 
            &.mobile-adjustments {
                padding-left: 25px;
            }
        }
        .btn-full-width{
            margin-bottom: 0 !important;
        }
        .mat-checkbox {
            width: auto; 
            height: 20px;
            ::ng-deep .mat-checkbox-layout {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: space-around;

                @media (max-width: 992px){
                    .mat-checkbox-inner-container {
                        margin-right: 18px;
                    }
                } 
            }
            ::ng-deep .mat-checkbox-frame {
                border: 1px solid $chkbox-border-color;
                border-radius: 0;
            }
            ::ng-deep .mat-checkbox-checkmark-path {
                stroke: $icon-color !important;
            }
        }
        ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
            background: $chkbox-bkg-color !important;
        }
        ::ng-deep .mat-checkbox-label{
            @include Roboto(regular);
            font-size: 14px;
            color: black;
        }
        mat-card-content {
            .row {
                margin-bottom: 15px;
            }
            .tooltip {
                position: relative;
                display: inline-block;
                /* If you want dots under the hoverable text */
                .tooltiptext {
                    @include Roboto(light);
                    font-size: 12px;
                    color: $text-normal-color;
                    text-align: left;
                    letter-spacing: -0px;
                    visibility: hidden;
                    background-color: white;
                    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
                    border-radius: 6px;
                    padding: 9px;
                    position: absolute;
                    z-index: 1;
                    bottom: 150%;
                    left: 50%;
                    margin-left: -85px;
                    width: 171px;
                    height: 79px;
                    a {
                        color: $link-primary-color;
                        line-height: 14px;
                        cursor: pointer;
                    }
                    &::after {
                        content: " ";
                        position: absolute;
                        top: 100%;
                        /* At the bottom of the tooltip */
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: white transparent transparent transparent;
                    }
                }
                &:hover .tooltiptext {
                    visibility: visible;
                }
            }
            .rating-container {
                position: relative;
            }
            .app-star-rating-component {
                @media (min-width: 993px) {
                    position: absolute;
                    right: 20px;
                }
                @media (min-width: 1100px) {
                    position: absolute;
                    right: 24px;
                }
            }
            input[type="checkbox"] {
                position: relative;
                opacity: 1;
                pointer-events: all;
                height: 20px;
                width: 20px;
            }
            .profileCardTitle {
                font-size: 16px;
                color: $headings-dark-color;
                cursor: pointer;
                @include Roboto(bold);
            }
            .profileCardSubTitle {
                @include Roboto(light);
                font-size: 14px;
                color: $required-indicator-color;
                letter-spacing: -0.01px;
                line-height: 16px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .profile-card-article-body {
                .body-title {
                    @include Roboto(bold);
                    font-size: 12px;
                    color: $headings-dark-color;
                    letter-spacing: -0.01px;
                    line-height: 16px;
                }
                .body-content {
                    .location-detail{
                        border-bottom: 1px #d9d9d9 solid;
                    }
                    p.body-content-address {
                        @include Roboto(light);
                        font-size: 12px;
                        color: $required-indicator-color;
                        letter-spacing: -0.01px;
                        line-height: 16px;
                    }
                    p.body-content-location {
                        @include Roboto(medium);
                        font-size: 12px;
                        //color: $required-indicator-color;
                        color: #1866A3;
                        letter-spacing: -0.01px;
                        line-height: 16px;
                    }
                    span.phone-icon, span.drop-up-down-icon {
                        font-family: FontAwesome5FreeSolid;
                        font-size: 12px;
                        color: $text-primary-color;
                        letter-spacing: -0.01px;
                        margin-left: 15px;
                        @media (min-width: 320px) and (max-width: 480px) {
                            margin-left: 0px;
                            display: block; 
                            float: none; 
                            width: 100%;
                        }
                    }
                    .drop-up-down-icon {
                        color: #666666 !important;
                    }
                    .phoneNumber {
                        @include Roboto(medium);
                        color: $text-primary-color;
                        text-decoration: underline;
                    }
                    a {
                        @include Roboto(light);
                        font-size: 12px;
                        color: $text-primary-color;
                        letter-spacing: -0.01px;
                        line-height: 16px;
                        cursor: pointer;
                    }
                }
            }
            .authenticate-if-in-network {
                @include Roboto(light);
                font-size: 12px;
                color: #151515;
                letter-spacing: -0.01px;
                line-height: 16px;
                .check-circle {
                    @include FontAwesome5Pro(solid);
                    font-size: 16px;
                    color: #1866A3;
                    letter-spacing: -0.01px;
                    line-height: 16px;
                }
                a {
                    @include Roboto(light);
                    font-size: 12px;
                    color: $link-primary-color;
                    letter-spacing: -0.01px;
                    line-height: 16px;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .in-network {
                @include Roboto(light);
                font-size: 12px;
                color: $success-alerts-color;
                letter-spacing: -0.01px;
                line-height: 16px;
                min-width: 78px;
                float: left;
                .check-circle {
                    font-family: FontAwesome5Pro(solid);
                    font-size: 16px;
                    color: $success-alerts-color;
                    letter-spacing: -0.01px;
                    line-height: 16px;
                }
            }
            .doctor-cost {
                @include Roboto(regular);
                font-size: 22px;
                color: $headings-dark-color;
                letter-spacing: -0.01px;
                line-height: 19px;
                sup {
                    font-size: 60%;
                    margin-left: -5px;
                }
            }
            .doctor-cost-info {
                @include Roboto(light);
                font-size: 10px;
                color: $required-indicator-color;
                letter-spacing: -0px;
                line-height: 16px;
            }
            .aside {
                min-height: 170px;
                height: 100%;
                position: relative;
                margin-top: -10px;
                a {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    height: 15px;
                    margin: auto;
                    cursor: pointer;
                }
                .fa-chevron-right {
                    color: $link-secondary-color;
                    width: 11px;
                    height: 18px;
                    cursor: pointer;
                  }
            }
            .out-of-network-info {
                @include Roboto(light);
                font-size: 12px;
                background: $alert_red;
                border-radius: 10px;
                color: white;
                letter-spacing: -0.01px;
                line-height: 16px;
                width: 144px;
                .remove-icon {
                    @include FontAwesome5Pro(regular);
                    font-size: 16px;
                    text-align: center;
                }
                .info-icon {
                    @include FontAwesome5Pro(regular);
                    font-size: 14px;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .enhanced-benefit-marker {
                background: $content-background-color;
                border-radius: 36px;
                padding: 3px;
                padding-left: 10px;
                width: 154px;
                .enhanced-benefit-text {
                    @include Roboto(light);
                    font-size: 12px;
                    color: $text-normal-color;
                    letter-spacing: -0.01px;
                    line-height: 16px;
                }
                .info-icon {
                    @include FontAwesome5Pro(solid);
                    font-size: 12px;
                    color: $text-normal-color;
                    letter-spacing: -0.01px;
                    text-align: right;
                    line-height: 16px;
                }
                .tooltiptext {
                    height: 104px;
                    width: 209px;
                    padding: 11px;
                    margin-left: -105px;
                }
            }
            .future-care-option {
                @include Roboto(medium);
                font-size: 12px;
                color: #333333;
                letter-spacing: -0.01px;
                line-height: 16px;
            }
        }
    }
}