// spk-cleanup - @import '../../../../assets/styles/variables';
@import '../../../../assets/styles/_variables';
@import '../../../../assets/styles/layouts-styles';
@import '../../../../assets/styles/_global';
.forgot-password-header {
    color: $header-color;
    font-size: $header-font-size;
    //spk/cleanup: font-weight: $header-font-weight;
    @include Roboto(light);
    margin: 20px 0px !important;
}