<div class="row  m-0">
  <h1 class="form-header">Forgot Password?</h1>
  <form autocomplete="off" [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="card-content">
      <div class="row">
        <div class="input-field col s12 pd-0">
          <input matInput placeholder=" " id="useridin" type="text" maxLength="100" class="validate fluid-width" formControlName="useridin"
            appAutofocus/>
          <label for="useridin" class="active">Username*</label>
          <app-control-messages [control]="forgotPwdForm.controls.useridin" [customMessages]="useridinMessages"></app-control-messages>
        </div>
      </div>
    </div>
    <div class="submit-action">
      <button class="waves-effect waves-light btn btn-block  mt-20 mb-20 btn-full-width br-8" type="submit" name="action" [disabled]="!forgotPwdForm.valid">Continue
      </button>
      <p class="font-14-grey left-align">* Field is required.</p>
    </div>
  </form>
</div>