<div class="row main-container m-0">
  <div class="col l12 m12 s12 main-content">
    <header>
      <h1 class="header">Thank You.</h1>
    </header>
    <!-- <p class="header-text">Once we have obtained all the necessary information from your provider, you can expect your
      response within two business
      days. If we have any questions, we will contact you.</p> -->
      <p class="header-text">We'll respond to your request within two business days once we receive the necessary information
        from your provider. </p>
    <div class="link-container">
      <a (click)="openSsoUrl('/fad')">
        <p>
          <span>Looking for something quicker?</span>
          <span class="lint-desc">Search for procedures and see cost estimates</span>
        </p>

        <span class="icon-arrow">
          <i class="far fa-chevron-right long-text"></i>
        </span>
      </a>
    </div>

  </div>
</div>
