<div class="row m-0 maintenance-container">
  <div class="col img-container">
    <img class="fit-container" src="/assets/images/static/404_desktop.jpg" alt="default image" class="responsive-img">
    <div class="no-page-found-mobile">Hmmm, we can't seem to find the page you are looking for.</div>
  </div>
  <div class="col link-container">
    <div class="no-page-found">Hmmm, we can't seem to find the page you are looking for.</div>
    <div class="flex-box" (click)="openUrl('https://myblue.bluecrossma.com/health-plan/find-doctor-provider-dentist')">
      <div class="collection">
        <div class="flex">
          <div>
            <i class="far fa-stethoscope fa-2x icons-class" aria-hidden="true"></i>
          </div>
          <p class="valign-wrapper ml-10 flex-grow-1 folder-card">
            Search for doctors,dentists,and other health care providers
          </p>
          <div class="valign-wrapper ml-10 details-action">
            <i class="far fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-box" (click)="openUrl('https://myblue.bluecrossma.com/health-plan/find-doctor-provider-dentist')">
      <div class="collection">
        <div class="flex">
          <div>
            <i class="far fa-hospital-alt fa-2x icons-class" aria-hidden="true"></i>
          </div>
          <p class="valign-wrapper ml-10 flex-grow-1 folder-card">
            Search for hospitals,and other health care facilities
          </p>
          <div class="valign-wrapper ml-10 details-action">
            <i class="far fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-box" (click)="openUrl('https://www.bluecrossma.com/wps/portal/members/using-my-plan/manage-my-plan/pharmacy-coverage/medication-look-up')">
      <div class="collection">
        <div class="flex">
          <div>
            <i class="far fa-pills fa-2x icons-class" aria-hidden="true"></i>
          </div>
          <p class="valign-wrapper ml-10 flex-grow-1 folder-card">
            Search for medications covered by your plan
          </p>
          <div class="valign-wrapper ml-10 details-action">
            <i class="far fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-box" (click)="openContactUs()">
      <div class="collection margin-40">
        <div class="flex">
          <div>
            <i class="far fa-phone fa-2x icons-class" aria-hidden="true"></i>
          </div>
          <p class="valign-wrapper ml-10 flex-grow-1 folder-card">
            Looking for something else ? Contact Us
          </p>
          <div class="valign-wrapper ml-10 details-action">
            <i class="far fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
