<div class="logs">
    <div class="boxed">
        <!--<span *ngFor="let msg of logs">
                {{msg}} <br/><br/>
            </span>-->
    </div>
</div>
<div class=" mypreferences-delivery-mat">

    <div class="row mr-0 ml-0 bottom-border-nullifier">
        <h1 class="mb-10 col s12 m12 l12 padding-adjustment">Delivery Preferences</h1>
        <div class="col s12 m12 l4 padding-adjustment">
            <mat-card>
                <mat-card-content>
                    <a class="valign-wrapper enforce-flex">
                        <div class="m-0 valign-wrapper-override center-box-width">
                            <div class="row col s12 box-header-text">
                                Explanation of Benefits
                            </div>
                            <div class="pt-5 row col s12 box-description-text ">
                                A statement on how we process your claims for medical services.
                            </div>
                        </div>
                        <div class="mr-18 right iconColor">
                            <i class="fa fa-chevron-right long-text"></i>
                        </div>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col s12 m12 l4">
            <mat-card>
                <mat-card-content>
                    <a routerLink="/mypreferences/delivery/financial" class="valign-wrapper enforce-flex">
                        <div class="m-0 valign-wrapper-override center-box-width">
                            <div class="row col s12 box-header-text">
                                Financials
                            </div>
                            <div class="pt-5 row col s12 box-description-text">
                                Tax forms and HSA statements lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="mr-18 iconColor">
                            <i class="fa fa-chevron-right long-text"></i>
                        </div>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col s12 m12 l4">
        </div>
    </div>
</div>