<div  class="alert card-panel mb-0" >
    <!--<h4>Password Requirements</h4>-->
    <div class="regs-passwrdreq-head">Password Requirements</div>
    <ul class="pwdrequirement-cont"> 
      <li class="alert-data">
        <span class="pwd-imageblck">
        <img *ngIf="errorMessage && errorMessage.hasMinLength" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasMinLength && isBlurEvent" class="pwd-wng" src="assets/images/icon-password-wrong.svg" alt="password wrong">
      </span>
        <span class="ml-5 regs-passwrdreq-condn">At least 8 characters</span>  
      </li>
      <li class="alert-data">
          <span class="pwd-imageblck">
        <img *ngIf="errorMessage && errorMessage.hasNumber" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasNumber && isBlurEvent" class="pwd-wng"src="assets/images/icon-password-wrong.svg" alt="password wrong">
        </span>
        <span class="ml-5 regs-passwrdreq-condn">Must include a number</span>
      </li>
      <li class="alert-data">
          <span class="pwd-imageblck">
        <img *ngIf="errorMessage && errorMessage.hasCapital" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasCapital && isBlurEvent" class="pwd-wng" src="assets/images/icon-password-wrong.svg" alt="password wrong">
        </span>
        <span class="ml-5 regs-passwrdreq-condn">Must include an uppercase letter</span>
      </li>
      <li class="alert-data pb-0">
        <span class="pwd-imageblck">
        <img *ngIf="errorMessage && errorMessage.hasSymbol" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
        <img *ngIf="errorMessage && !errorMessage.hasSymbol && isBlurEvent" class="pwd-wng" src="assets/images/icon-password-wrong.svg" alt="password wrong">
        </span>
        <span class="ml-5 pb-0 regs-passwrdreq-condn">Must include a special character:</span>
      </li>
      <li class="alert-data pt-0">
          <span class="pwd-imageblck"></span>
          <span class="ml-5 regs-passwrdreq-condn">{{allowedSpecialCharters}}</span>
        <!--<span class="sr-only"></span>-->
        <!-- <span [class.spl-character]="errorMessage && errorMessage.hasSymbol || errorMessage && !errorMessage.hasSymbol && isBlurEvent">{{allowedSpecialCharters}}</span> -->
      </li>
    </ul>
    <!-- <table>
      <tr>
        <td class="alert-data">
          <img *ngIf="errorMessage && errorMessage.hasMinLength" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
          <img *ngIf="errorMessage && !errorMessage.hasMinLength && isBlurEvent" class="pwd-wng" src="assets/images/icon-password-wrong.svg" alt="password wrong">
        </td>
        <td>At least 8 characters</td>
      </tr>
      <tr>
        <td class="alert-data"><img *ngIf="errorMessage && errorMessage.hasNumber" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
          <img *ngIf="errorMessage && !errorMessage.hasNumber && isBlurEvent" class="pwd-wng"src="assets/images/icon-password-wrong.svg" alt="password wrong"></td>
        <td>Must include a number</td>
      </tr>
      <tr>
       <td class="alert-data">
         <img *ngIf="errorMessage && errorMessage.hasCapital" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
         <img *ngIf="errorMessage && !errorMessage.hasCapital && isBlurEvent" class="pwd-wng" src="assets/images/icon-password-wrong.svg" alt="password wrong">
       </td>
        <td>
          Must include an uppercase letter
        </td>
      </tr>
  
      <tr>
        <td class="alert-data pb-0">
          <img *ngIf="errorMessage && errorMessage.hasSymbol" class="pwd-chk" src="assets/images/icon-password-check.svg" alt="password check">
          <img *ngIf="errorMessage && !errorMessage.hasSymbol && isBlurEvent" class="pwd-wng" src="assets/images/icon-password-wrong.svg" alt="password wrong">
        </td>
        <td class="pb-0">
          Must include a special character:
        </td>
      </tr>
      <tr>
        <td class="alert-data pt-0"></td>
        <td class="pt-0">{{allowedSpecialCharters}}</td>
      </tr>
    </table> -->
  </div>
  