<!-- <i class="fas fa-trophy-alt"></i> -->
<div class="row center migration-success">

    <div class="header-icon">
        <div class="col s12 pl-0 pr-0 trophy-icon">
            <i class="far fa-trophy-alt"></i>
        </div>
        <!-- 
        <div class="col-s1">
            <a class="modal-close-right cursor-pointer" style="color: white;" (click)="closeScreen()">
                <i class="material-icons ft-30">close</i>
            </a>
        </div> -->
    </div>

    <h1>Congratulations
        <br> you've upgraded!
    </h1>
    <br>
    <h5>
        <b>You now have the same username and</b>
        <br>
        <b>password on Web and App</b>
    </h5>
    <br>
    <h5>
        <b>Your username: {{userid}}</b>
    </h5>
    <br>
    <br>
    <br>
    <button class="btn btn-primary mb-10 explore-button" (click)="exploreNew()" type="button" aria-label="Explore Now" name="action">Explore what&apos;s new</button>
</div>