<div>
  <h1 class="form-header">Update your password</h1>
</div>
<form novalidate autocomplete="off" [formGroup]="createPasswordForm" (submit)="onSubmit()">
  <div class="card-content">
    <div class="row">
      <div class="input-field col s12 password-block pd-0">
        <input placeholder=" " aria-labelledby="password" id="password" type="{{type}}" formControlName="passwordin"
          (blur)="showErrorOnBlur()" class="validate fluid-width" maxlength="16" appAutofocus />
        <label for="password" class="active">Password</label>
        <a class="input-group-addon" [ngClass]="(typePlaceholder | lowercase) + '-class'" (click)="togglePasswordVisibility()">{{typePlaceholder}}</a>
        <app-control-messages [control]="createPasswordForm['controls'].passwordin" [customMessages]="passwordcustomMessages"></app-control-messages>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 password-block pd-0">
        <input placeholder=" " aria-labelledby="reEnterNewPassword" id="reEnterNewPassword" type="{{typeReEnterNew}}"
          formControlName="reEnterNewPassword" (blur)="showErrorOnBlur()" class="validate fluid-width" maxlength="16" />
        <label for="reEnterNewPassword" class="active">Re-enter New Password</label>
        <a class="input-group-addon" [ngClass]="(typePlaceholderReEnterNew | lowercase) + '-class'" (click)="togglePasswordVisibility(true)">{{typePlaceholderReEnterNew}}</a>
        <app-password-control-messages [isBlurEvent]="showPasswordErrors" [password]="createPasswordForm.value.reEnterNewPassword"></app-password-control-messages>
        <app-control-messages [control]="createPasswordForm['controls'].reEnterNewPassword" [customMessages]="passwordcustomMessages"></app-control-messages>
      </div>
    </div>
  </div>
  <div class="submit-action">
    <button tabindex="0" class="btn waves-effect waves-light mt-mb-5 btn-full-width btn-color br-8" type="submit" name="action"
      aria-label="Continue" [disabled]="!createPasswordForm.valid">Continue</button>
  </div>
</form>