// spk-cleanup - @import '../../../../assets/styles/variables';
@import '../../../../assets/styles/_variables';
.btn-full-wth {
    width: 100%;
}

.password-block {
    position: relative;
}

.password-block .input-group-addon {
    right: 10px;
    top: 10px;
    position: absolute;
    text-align: center;
}

.privacy-text a:hover {
    text-decoration: underline;
}

.input-group-addon {
    cursor: pointer;
    &.hide-class {
        background-color: $non-vdk-3-grey;
    }
}