<div class="logs">
    <div class="boxed">
        <!--<span *ngFor="let msg of logs">
            {{msg}} <br/><br/>
        </span>-->
    </div>
</div>
<div class=" mypreferences-mat">

    <div class="row ml-0 mr-0 row-adjust">
        <h1 class="mb-10">My Preferences</h1>
        <div class="col s12 m12 l12 box-description-text-header pl-0">
            Managing how Blue Cross Blue Shield of Massachusetts communicates with you.
        </div>
    </div>
    <div class="row bottom-border-nullifier ml-0 mr-0 row-adjust">
        <div class="col s12 m12 l4 pl-0">
            <mat-card>
                <mat-card-content>
                    <a routerLink="/mypreferences/notifications" class="valign-wrapper enforce-flex">
                        <div class="paddingIcon iconColor valign-wrapper-override">
                            <i class="far fa-bell fa-2x"></i>
                        </div>
                        <div class="m-0 valign-wrapper-override center-box-width">
                            <div class="row col s12 box-header-text">
                                Notifications
                            </div>
                            <div class="pt-5 row col s12 box-description-text ">
                                Manage when and how you receive messages.
                            </div>
                        </div>
                        <div class="mr-18 right iconColor">
                            <i class="fa fa-chevron-right long-text notification-arrow"></i>
                        </div>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col s12 m12 l4 pl-0">
            <mat-card>
                <mat-card-content>
                    <a routerLink="/mypreferences/delivery" class="valign-wrapper enforce-flex">
                        <div class="paddingIcon iconColor valign-wrapper-override">
                            <i class="far fa-list-alt  fa-2x"></i>
                        </div>
                        <div class="m-0 valign-wrapper-override center-box-width">
                            <div class="row col s12 box-header-text">
                                Delivery
                            </div>
                            <div class="pt-5 row col s12 box-description-text">
                                Decide how you want to get statements and tax forms.
                            </div>
                        </div>
                        <div class="mr-18 iconColor">
                            <i class="fa fa-chevron-right long-text notification-arrow"></i>
                        </div>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col s12 m12 l4">
        </div>
    </div>
    <div class="emptyheight">
    </div>
</div>