<section class="fad-no-docs-page">

  <div class="bottom-border"></div>

  <div class="row">
      <div class="col l3 s12"></div>
      <div class="col l6 s12 nodocs-result-container">
          <p>Oops. We couldn't find any results for "{{searchText}}" </p>

          <button mat-raised-button type="button">
            Clear Filters
          </button>
        
          <div>
            <p class="search-option-header">Or try filtering by:</p>
            <p class="search-option">Filter 1</p>
            <p class="search-option">Filter 2</p>
            <p class="search-option">Filter 3</p>
            <p class="search-option">Filter 4</p>
          </div>
      </div>
      <div class="col l3 s12"></div>
  </div>

</section>
