<h1>Important Information</h1>
<p>
    Prior year accumulations are not available at this time. For assistance, please contact Member Service at the number on the front of your identification card.
    <br/><br/>These figures are provided for information purposes only. Although we make every effort to keep this information current, the totals are subject to change at any time.
    <br/><br/>These figures are based on claims received to date and may not reflect recent services.
</p>
<div style="text-align: center">
    <button class="apply-button" mat-raised-button type="button" (click)="goBack()">
    Back
</button>
</div>