.mypref-notifications-mat {
    // .mypref-chkBoxes {
    .mat-list,
    .mat-nav-list,
    .mat-selection-list {
        flex: 3 !important;
        display: flex !important;
        flex-direction: column !important;
        /* align-items: center !important;*/
    }
    .mat-pseudo-checkbox {
        width: 24px;
        height: 24px;
        border: 1px solid $non-vdk-19-grey !important;
        border-radius: 0px !important;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        position: relative;
        flex-shrink: 0;
        // transition:border-color 90ms cubic-bezier(0,0,.2,.1),background-color 90ms cubic-bezier(0,0,.2,.1)
    }
    /*
    mat-pseudo-checkbox[ng-reflect-disabled="true"] {
        width: 24px;
        height: 24px;
        border: 1px solid $non-vdk-19-grey !important;
        border-radius: 0px !important;
        cursor: default;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        position: relative;
        flex-shrink: 0;
        background-color: $background-gray-color !important;
        // transition:border-color 90ms cubic-bezier(0,0,.2,.1),background-color 90ms cubic-bezier(0,0,.2,.1)
    }
    mat-pseudo-checkbox[ng-reflect-disabled="true"][ng-reflect-state="checked"]::after {
        top: 0px;
        left: 0px;
        width: 13px!important;
        height: 6px!important;
        border-left: 2px solid $non-vdk-11-grey !important;
        border-bottom: 2px solid $non-vdk-11-grey !important;
        opacity: 1
    }*/
    mat-checkbox .mat-checkbox .mat-accent .mat-checkbox-checked .mat-checkbox-disabled {
        label {
            div {
                .mat-checkbox-frame {
                    border: 1px solid $non-vdk-19-grey !important;
                    background-color: $background-gray-color !important;
                }
            }
        }
    }
    /*.mat-pseudo-checkbox-checked::after {
        top: 0px;
        left: 0px;
        width: 12px;
        height: 5px;
        border-left: 2px solid currentColor;
        opacity: 1
    }
    .mat-list-item-content.mat-list-item-content-reverse {
        padding: 0px !important;
    }
    .mat-list.mat-list-item.mat-list-item-content-reverse,
    .mat-list.mat-list-option.mat-list-item-content-reverse,
    .mat-nav-list.mat-list-item.mat-list-item-content-reverse,
    .mat-nav-list.mat-list-option .mat-list-item-content-reverse,
    .mat-selection-list.mat-list-item/deep/ .mat-list-item-content-reverse,
    .mat-selection-list.mat-list-option.mat-list-item-content-reverse {
        padding: 0px !important;
    }
    .mat-list-option {
        padding-left: 25.5px !important;
    }
    .mat-checkbox-background {
        background-color: transparent !important;
    }
    .mat-checkbox-checked,
    {
        .mat-checkbox-background {
            background-color: $textbox-border !important;
        }
        .mat-checkbox-checkmark path {
            stroke: $headings-dark-color !important;
        }
        .mat-checkbox-checkmark-path {
            stroke-width: 2.1px;
        }
    }
    .mat-checkbox-layout {
        white-space: wrap;
    }
    .mat-list-text {
        padding-right: 0px !important;
        position: absolute !important;
        margin-top: -25px !important;
        color: $title-color !important;
        @include Roboto(light);
        font-size: 14px;
        overflow: visible !important;
    }*/
    // }
    .mat-checkbox-background {
        background-color: transparent !important;
    }
    .mat-checkbox-checked,
    {
        .mat-checkbox-background {
            background-color: $textbox-border !important;
        }
        .mat-checkbox-checkmark path {
            stroke: $headings-dark-color !important;
        }
        .mat-checkbox-checkmark-path {
            stroke-width: 2.1px;
        }
    }
    .mat-checkbox-disabled {
        .mat-checkbox-background {
            background-color: $background-gray-color !important;
        }
        .mat-checkbox-checkmark path {
            stroke: $non-vdk-11-grey !important;
        }
        .mat-checkbox-checkmark-path {
            stroke-width: 2.1px;
        }
    }
    .diabled-fa-icon {
        stroke: $non-vdk-11-grey !important;
    }
    .mat-checkbox-layout {
        white-space: wrap;
    }
    mat-card-content {
        .col {
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
        }
        .row {
            margin: 0px !important;
        }
        .pt-5 {
            padding-top: 5px !important;
        }
        .mat-checkbox-inner-container {
            margin-right: 0px;
            margin-bottom: 0px !important;
        }
    }
    mat-card {
        padding-top: 15px;
        //padding-left: 0px !important;
        //padding-right: 0px !important;
        padding-bottom: 15px;
        border-radius: 0px !important;
        margin-bottom: 0px;
        box-shadow: none !important;
        border-bottom: 1px solid $non-vdk-11-grey !important;
        border-left: 1px solid $non-vdk-11-grey !important;
        border-right: 1px solid $non-vdk-11-grey !important;
        border-top: 1px solid $non-vdk-11-grey !important;
        @media (max-width: 991px) {
            margin-right: -15px;
            margin-left: -15px;
            border-top: 1px solid $non-vdk-11-grey !important;
            border-bottom: 0px solid transparent !important;
            border-left: 0px solid transparent !important;
            border-right: 0px solid transparent !important;
        }
    }
    .mat-card-top-borderless {
        border-top: none !important;
        //border-bottom: 1px solid $non-vdk-11-grey !important;
        //border-left: 1px solid $non-vdk-11-grey !important;
        //border-right: 1px solid $non-vdk-11-grey !important;
    }
    .mat-card-top-border {
        border-top: 1px solid $non-vdk-11-grey !important;
        //border-bottom: 1px solid $non-vdk-11-grey !important;
        //border-left: 1px solid $non-vdk-11-grey !important;
        //border-right: 1px solid $non-vdk-11-grey !important;
    }
    .mat-checkbox-background,
    .mat-checkbox-frame {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        border-radius: 0px;
        box-sizing: border-box;
        pointer-events: none
    }
    .mat-checkbox-layout {
        cursor: inherit;
        align-items: baseline;
        vertical-align: middle;
        display: inline-flex;
        font-size: 14px !important;
        @include Roboto(regular);
        color: black;
        white-space: unset; //to enable wrapng in check box control
    }
    .mat-checkbox-label {
        padding-left: 10px !important;
    }
    .mat-checkbox-inner-container {
        display: inline-block;
        height: 24px;
        line-height: 0;
        margin-top: 0px; // as per requirement
        margin-right: 0px;
        order: 0;
        position: relative;
        vertical-align: top;
        white-space: nowrap;
        width: 24px;
        flex-shrink: 0
    }
    .mat-checkbox-frame {
        background-color: transparent;
        transition: border-color 90ms cubic-bezier(0, 0, .2, .1);
        border-width: 1px;
        border-style: solid;
        border-color: $non-vdk-48-grey !important;
    }
}