<section class="pcp-error row mb-10">
  <div class="col s12 pd-0">
    <!-- placeholder for alert success/warning -->
    <!-- <h1 class="mt-mb-20">Something went wrong. Your PCP was not added.</h1> -->
    <h1 class="mt-mb-20">Something went wrong. Your PCP did not change.</h1>
  </div>
  <div class="row mb-20">
      <div class="col s12 pd-0">
        <button class="btn btn-primary" type="button" [routerLink]="previousUrl">Try again</button>
      </div>
  </div>
  <p class="instruction-note">Looking to talk to a human about changing your PCP?
    <a routerLink="/pages/maintenance"> Contact us</a>
  </p>
  <!-- <p class="mt-20 pb-10 contact-links">Contact us</p> -->
  <!-- <p class="mt-20 pb-10 contact-links">If you want help changing your PCP, contact us</p>
   <ul class="collection">
    <li>
      <a href="tel:(617) 123-4567" class="mb-10">
        <i class="fas fa-phone"></i>
        <u class="pl-5">(617) 123-4567</u>
        <span class="right">
          <i class="fa fa-chevron-right"></i>
        </span>
      </a>
    </li>
    <li>
      <a routerLink="/pages/maintenance" class="mb-10">
        <i class="fas fa-pen"></i>
        <u class="pl-5">Write to us</u>
        <span class="right">
          <i class="fa fa-chevron-right"></i>
        </span>
      </a>
    </li>
    <li>
      <a class="mb-10">
        <i class="fas fa-comment"></i>
        <u class="pl-5">Live Chat</u>
        <span class="right">
          <i class="fa fa-chevron-right"></i>
        </span>
      </a>
    </li>
  </ul>  -->
</section>
