<div id="logoDialog">
  
    <div mat-dialog-title class="row" style="background:#1d75bc; padding-bottom:5px;">
          <div class="row top-link"> 
              <div class="col s2" style="margin-top: 4%;">
                  <a href="javascript:void(0)" class="float-left">
                      <img src="../../assets/images/icon-close-white.svg" class="close" (click)="closeMobileMenu($event)" style="height:15px;width:15px;margin-top: 10px;margin-right: 10px;"
                                                  alt="Close">
                  </a>
              </div>   
              <div class="col s10" style="color: white; padding: 4%">
                  <span>Welcome to MyBlue!</span>
              </div>
              
          </div>
     </div>
    
    <mat-dialog-content>
      <div style="color:white;"><button mat-button>General</button></div>
      <div style="color:white;"><button mat-button>Display</button></div>
      <div style="color:white;"><button mat-button>Profile</button></div>
    </mat-dialog-content>
    
  </div>