// DO NOT add any colors to this file 
// Use colors for this file only
// to add use, _colors.scss
// ================================================================================
// title
$title-color: #000000;
$primary-color: #1D75BC;
$headings-dark-color: #043167;
$forms-select-muted-color: #6591B3;
// background
$background-default-color: #1D75BC;
$background-blue-fair-color: rgb(198, 220, 238);
$background-white-color: #ffffff;
$background-gray-color:#f2f2f2;
$background-gray-fair-color:#f2f2f2;
$background-title-separator-color:#1866A3;
// text
$text-white-color:#ffffff;
$text-primary-color: #1866A3;
$text-disabled-color: #1866A3;
$text-disabled-gray: #4D4D4D;
$text-normal-color: #333333;
$text-sub-heading: #3F759F;
$text-sub-list: #151515;
$link-primary-color: #1065A5;
$link-secondary-color: #043167;
$textbox-border: #D8D8D8;
$text-bkg-color: #F1F1F1;
$text-white-color: #FFFFFF;
$placeholder-text: #8C8C8C;
$text-content-color:#434343;
// alerts
$success-alerts-color: #3da148;
$error-alert-color: #c1272d;
$unread-docs-alert-color: #c1272d;
$notification-alerts-color:#1866A3;
// limited use
$secondary-accent-orange-color: #e96c24;
$promotional-content-orange-color: #F68C0B;
$secondary-accent-purple-color: #92278F;
$button_hover_background: #C6DCEE;
// read comments in first line of the file!!!!