<div class="chart-container">
    <header>
        <h6>{{ lineChartOptions.headerText }}:</h6>
        <p>${{ lineChartOptions.AnnualElection | number : '1.2-2' }}</p>
    </header>
    <section *ngIf="lineChartWidth!==100.3 || !lineChartOptions.altText">
            <div class="progress" [ngStyle]="{ 'background-color': lineChartOptions.chartBackgroundColor }">
                <div class="determinate" *ngIf="lineChartWidth > 0.3" [ngStyle]="{ 'width': lineChartWidth + '%', 'background-color': lineChartOptions.chartColor, 'max-width': 'calc(100% + 1px)' }"></div>
            </div>
        <div class="chart-bottom">
            <div class="chart-bottom-option">
                <div class="chart-bottom-option-inner">
                    <div class="round" [ngStyle]="{ 'background-color': lineChartOptions.chartColor }"></div>
                    <div class="chart-bottom-text">
                        <small>{{ lineChartOptions.chartOption1Text }}</small>
                        <p>${{ lineChartOptions.totalValue | number : '1.2-2' }}</p>
                    </div>
                </div>
            </div>
            <div class="chart-bottom-option">
                <div class="chart-bottom-option-inner">
                    <div class="round round-default" [ngStyle]="{ 'background-color': lineChartOptions.chartBackgroundColor }"></div>
                    <div class="chart-bottom-text">
                        <small>{{ lineChartOptions.chartOption2Text }}</small>
                        <p>${{ lineChartOptions.chartValue | number : '1.2-2' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="lineChartWidth===100.3 && lineChartOptions.altText">
        {{lineChartOptions.altText}}
    </section>
</div>
