<ng-container *ngIf="showSpinner">
  <div class="row m-0 pd-0 spinner-height-auto custom-spinner">
    <div class="col pd-0 mt-20 spinner-height-100 valign-wrapper relative">
      <div class="row web30Spinner">
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div class="col s1 m1 l1 pd-0 mb-0"></div>
        <div>Loading....</div>
      </div>
    </div>
  </div>
</ng-container>