@import '../../../../assets/styles/_flex';
.spinner-height-auto {
    height: auto;
}
.relative {
    position: relative;
}

.custom-spinner {
    @extend %flexbox;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 100%;
}